.espace {
        margin-top: 10%;
  }

  .ajustement {
    width: 500px;
    text-align: start;
    border: 2px solid black;
  }
  
.image {

    width: 504px;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.losaic {
  width: 500px;
  height: 198px;
  float: left;
}